{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPortfolio </title> <!--it is a web title-->
    <link rel="stylesheet" href="{%static 'css/style.css'%}"> <!--it will link css with html-->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2> <!--t-white is a css class name -->
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <p class="t-white poppins">Sachin Budha Magar, a junior developer. I’m passionate about solving problems, I love reading and learning that allow me to make things happen.</p>
                <a href="{% static 'pdf/Sachincv.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/pic.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
            <div class=" skills-left flex s-center items-center">
                <img src="{%static 'images/pro.png'%}" alt="">
            </div>

            <div class="skills-right flex items-center">
                <div class="skillss-container">
                    <div class="python bar p-relative"><span class="bar-content left t-white"> Python</span><span
                        class="bar-content right-skills t-white">40%</span></div>
                    <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span><span
                        class="bar-content right-skills t-white">60%</span></div>
                    <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span><span
                        class="bar-content right-skills t-white">60%</span></div>
                    <div class="js bar p-relative"><span class="bar-content left t-white">JavaScript</span><span
                        class="bar-content right-skills t-white">30%</span></div>
                    <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">30%</span></div>        
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/sachin-budha-magar-5b2287213/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/SachinDuplicate" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://mail.google.com/mail/u/1/#inbox" target="_blank">
                <li><i class="fa-brands fa-google"></i></li>
            </a>
        </ul>
    </footer>
</body> 
</html>
